* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: grid;
  max-width: 69.375rem;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  overflow: hidden;
  padding: 1rem;
}
@media (min-width: 46.875rem) and (max-width: 69.375rem) {
  .App {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 69.375rem) {
  .App {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 4.625rem 0;
  }
}