aside {
  background: hsl(240deg, 100%, 5%);
  color: hsl(36deg, 100%, 99%);
  padding: 1.75rem 1.3125rem;
}
@media (min-width: 69.375rem) {
  aside {
    grid-column: 3/span 1;
    grid-row: 2/span 1;
    padding: 1.75rem 1.3125rem 0 1.3125rem;
  }
}
aside h2 {
  font-size: 2rem;
  color: hsl(35deg, 77%, 62%);
  margin-bottom: 2.3125rem;
}
@media (min-width: 69.375rem) {
  aside h2 {
    font-size: 2.4375rem;
    line-height: 1.875rem;
    margin: 0.75rem 0 2.1875rem 0;
  }
}