main {
  margin-bottom: 4rem;
}
@media (min-width: 69.375rem) {
  main {
    grid-column: 1/span 2;
    grid-row: 2/span 1;
    margin-bottom: 0;
  }
}
main .header_image {
  width: 100%;
  margin-bottom: 1.875rem;
}
@media (min-width: 69.375rem) {
  main .header_image_mobile {
    display: none;
  }
}
main .header_image_desktop {
  display: none;
}
@media (min-width: 69.375rem) {
  main .header_image_desktop {
    display: block;
  }
}
main .mainGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3;
}
main h1 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 2.5625rem;
  margin-bottom: 1.9375rem;
  line-height: 3.5rem;
  grid-column: 1/span2;
}
@media (min-width: 69.375rem) {
  main h1 {
    font-size: 3.5625rem;
    grid-column: 1/2;
    margin-bottom: 0;
  }
}
main .mainGridRight {
  grid-column: 1/span2;
  line-height: 1.5rem;
}
@media (min-width: 69.375rem) {
  main .mainGridRight {
    grid-column: 2/3;
    margin-left: 0.9375rem;
  }
}
main p {
  margin-bottom: 1.8125rem;
}
main .button {
  width: 11.5625rem;
  height: 3rem;
  background: hsl(5deg, 85%, 63%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(36deg, 100%, 99%);
  font-weight: 700;
  letter-spacing: 0.24rem;
  text-transform: uppercase;
}
main .button:hover {
  background: hsl(240deg, 100%, 5%);
  cursor: pointer;
}