@import 'responsive';
* {
  margin: 0;
  padding: 0;
}

body {
  // padding: 1rem;
  font-family: 'Inter', sans-serif;
  font-size: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.App {
  display: grid;
  max-width: 69.375rem;
  column-gap: 1.875rem;
  overflow: hidden;
  padding: 1rem;

  @include med {
    grid-template-columns: 1fr 1fr;
  }

  @include large {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 4.625rem 0;
  }

}
