@import 'config';
@import 'responsive';

aside {
    @include large {
        grid-column: 3/ span 1;
        grid-row: 2 / span 1;

        padding: 1.75rem 1.3125rem 0 1.3125rem;
    }
    background: $color-very-dark-blue;
    color: $color-off-white;
    padding: 1.75rem 1.3125rem;
    

    h2 {
        font-size: 2rem;
        color: $color-soft-orange;
        margin-bottom: 2.3125rem;

        @include large {
            font-size: 2.4375rem;
            line-height: 1.875rem;
            margin: 0.75rem 0 2.1875rem 0;
        }
    }
}