@import 'config';
@import 'responsive';

footer {

  @include large {
    grid-column: 1 / span 3;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.875rem;
  }

  @include med {
    grid-column: 1 / span 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
  }

  .footer_card {
    display: grid;
    grid-template-columns: 6.25rem auto;
    column-gap: 1.5rem;
    margin: 2.125rem 0;

    img {
      width: 6.25rem;
    }

    .content {
      display: flex;
      flex-direction: column;
      color: $color-dark-grayish-blue;
    }

    .counter {
      font-size: 2rem;
      font-weight: bold;
      color: $color-grayish-blue;
      margin-bottom: 0.875rem;
    }

    h2 {
      font-size: 1.125rem;
      letter-spacing: 0.01em;
      color: $color-very-dark-blue;
      margin-bottom: 1.0625rem;

      &:hover {
        color: $color-soft-red;
        cursor: pointer;
      }
    }
  }
}
