@import 'config';
@import 'responsive';

main {
  
  margin-bottom: 4rem;
  
  @include large {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    margin-bottom: 0;
  }
  
  

  .header_image {
    width: 100%;
    margin-bottom: 1.875rem;
  }

  .header_image_mobile {
    @include large {
      display: none;
    }
  }

  .header_image_desktop {
    display: none;

    @include large {
      display: block;
    }
  }

  .mainGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3;

  }

  h1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 2.5625rem;
    margin-bottom: 1.9375rem;
    line-height: 3.5rem;

    grid-column: 1 / span2;

    @include large {
      font-size: 3.5625rem;
      grid-column: 1 / 2;
      margin-bottom: 0;
    }
  }

  .mainGridRight {
    grid-column: 1 / span2;

    line-height: 1.5rem;;

    @include large {
      grid-column: 2 / 3;
      margin-left: 0.9375rem;
    }
  }

  p {
    margin-bottom: 1.8125rem;
  }

  .button {
    width: 11.5625rem;
    height: 3rem;
    background: $color-soft-red;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $color-off-white;
    font-weight: 700;
    letter-spacing: 0.24rem;
    text-transform: uppercase;

    &:hover {
      background: $color-very-dark-blue;
      cursor: pointer;
    }

  }
}
